.wrapper {
    position: relative;
  }
  
 
  
  #content {
    padding: 20px;
  }
  
  .graphes-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
  }
  
  .chart-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-bottom: 90px; 
  }
  
  .chart-column {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px ;
  }
  
  .chart-column h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  